:root{
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebarOption .material-icons, .fa-twitter{
    padding: 20px;
}
.sidebarOption h2{
    font-size: 20px;
    font-weight: 800;
    margin-right: 20px;
}
.sidebarOption:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.sidebarOption.active{
    color: var(--twitter-color);
}
.sidebar__tweet{
    background-color: var(--twitter-color);
    color: white;
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    font-weight: 900;
    margin-top: 20px;
}
body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.sidebar{
    flex: 0.2;
    border-right: 1px solid var(--twitter-background);
    min-width: 250px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.fa-twitter{
    color: var(--twitter-color);
    font-size: 30px;
}

/* feed */
.feed{
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}
.feed__header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
.feed__header h2{
    font-size: 20px;
    font-weight: 800;
}
.feed::-webkit-scrollbar{
    display: none;
}
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img{
    border-radius: 50%;
    height: 40px;
}
.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}
.tweetBox  form{
    display: flex;
    flex-direction: column;
}
.tweetbox__input{
    display: flex;
    padding: 20px;
}
.tweetbox__input input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}
.tweetbox__tweetButton{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}